<ion-header>
  <ion-navbar>
    <ion-title>
      TODO
    </ion-title>
   <ion-buttons end>
    <button (click)="toggleReorder()" ion-button *ngIf="!reorderIsEnabled">
      Edit
    </button>
    <button (click)="toggleReorder()" ion-button *ngIf="reorderIsEnabled">
      Done
    </button>
   	<button ion-button (click)="openTodoAlert()">
   		<ion-icon name="add"></ion-icon>
   	</button>
   	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReordered($event)">
  	<ion-item-sliding *ngFor="let todo of todos; let todoIndex = index">
  	<ion-item>{{todo}}</ion-item>
  	<ion-item-options side="right">
  	<button color="danger" ion-button (click)="archiveTodo(todoIndex)">
  		<ion-icon name="trash"></ion-icon>
  	</button>
  	</ion-item-options>
  	</ion-item-sliding>
  
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="goToArchivePage()">
      <ion-icon name="archive"></ion-icon>
    </button>
  </ion-fab>



</ion-content>
